__pycache__/
*.py[cod]
.DS_Store
.venv/
venv/
env/
.env
.streamlit/secrets.toml

models/*.keras
models/*.h5
models/*.pkl
models/model_metadata.json
models/feature_columns.json

database/*.db
data/processed/*.csv
outputs/figures/*.png
outputs/figures/**/*.png
outputs/tables/*.csv
.ipynb_checkpoints/

*.log
